@page
@model CyberGamify.Pages.Games.PasswordGameModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Password Strength Game";
}

<h2>Password Strength Builder</h2>
<p>Enter a password. Stronger passwords give more points.</p>

<input id="passwordInput" class="form-control" type="password" />
<div id="pwdFeedback" class="mt-2"></div>
<button id="submitPwdScore" class="btn btn-primary mt-3">Submit Score</button>

@section Scripts {
    <!-- zxcvbn CDN for quick password strength checks -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <script src="~/js/password.js"></script>
}

